body {
   background-color: white; 
}

.Hauptknoepfe{
font-size: 37px;
text-align:center;
}

.Knopf{
border: 5px solid black;
background-color: silver;
border-style: outset;
border-radius: 4px;
}

.HKnofp{
padding: 2px 15px;
display: inline-block;
font-size: 23px;
}

#ExAKnopf{
background-color: red;
}
