/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.10.2016, 14:38:23
    Author     : KeinNiemand
*/
body{
    background-color: green;
    padding: 0px;
    padding-top:60px;
    margin:  0px;
    font-size: 13.5pt;
    background-image: url("Img/Background.png");
    font-size: 14pt;
}

nav{
    margin: 0px;
    position: fixed;
    background-color: rgb(240,240,240);
    top: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
}
nav>*{
    margin: 5px;
    padding: 2px;
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    color: black;
    font-size: 14pt;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7e9e9+0,daddde+37,c5cacb+100 */
    background: rgb(231,233,233); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(231,233,233,1) 0%, rgba(218,221,222,1) 37%, rgba(197,202,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(231,233,233,1) 0%,rgba(218,221,222,1) 37%,rgba(197,202,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(231,233,233,1) 0%,rgba(218,221,222,1) 37%,rgba(197,202,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e9e9', endColorstr='#c5cacb',GradientType=0 ); /* IE6-9 */
    display: inline-block;
    text-align: center;
}

button{
    border-radius: 11px;
    font-size: 12pt;
}

.levels{
    border-width:  2px;
    border-color: black;
    border-style: solid;
    padding: 3px;
    margin: 10px;
    margin-bottom: 0px;
    font-size : 23pt;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
    background: rgb(135,224,253); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}

.levelinh{
    background-color: white;
    padding: 5px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-top-style:none;
    margin-left: 10px;
    margin-right: 10px;
}
